.header-color{
    background: #b92b27;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1565C0, #b92b27);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1565C0, #b92b27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    

}
.landing-grid{
background: #b92b27;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #1565C0, #b92b27);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #1565C0, #b92b27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
position: fixed;
top: 5%;
left: 0;
width: 100%;
height: 100%;
text-align: center;
}

.avatar-image{
    height: 200px;
    padding-top: "5em";
}

.banner-text{
    background-color: black;
    opacity: 0.8;
    width: 75%;
    margin: auto;
    border-radius: 25px;
}

.banner-text h1{
    font-size: 44px;
    font-weight: bold;
    color: purple;
    
}

.banner-text hr{
    border-top: 5px dotted pink;
    width: 50%;
    margin: auto;
}

.banner-text p{
    color: pink;
    font-size: 30px;
    padding: 2em;
    align: center;
}
.social-links{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: auto;
}
.social-links i{
    color: pink;
    font-size: 5em;
    padding: 8px;
}

/* Resume page CSS */
.resume-right-col{
    background: #27221F;
    color: white;
    padding: 2em;
}

.contact-body{
    margin: auto;
    position: fixed;
    width: 100%;
    height: 100%;
    justify-content: center;
    padding-top: 2em;
    padding-bottom: 2em;
    overflow: auto;
}

.contact-grid{
    text-align: center;
    justify-content: center;
    width: 80%;
    height: 550px;
    background: white;
    color: black;
    margin-bottom: 20px;
    overflow: auto;
}

.contact-grid h2{
    font-family: 'Anton',sans-serif;
}

.contact-grid p{
    font-family: 'Oxygen', sans-serif;
    font-weight: bold;
}

.contact-grid hr{
    border-top: 5px dotted black;
    margin: auto;
    width: 50%;
}
.contact-list i{
    font-size: 66 px;
    padding-right: 5rem;
    
}

.projects-grid {
    display: flex;
  }

  .aboutme-body{
    margin: auto;
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    /* padding-top: 2em;
    padding-bottom: 2em; */
    background: #DDA0DD;
    overflow: auto;
}

  .aboutme-grid{
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 550px;
    /* background: #DDA0DD; */
    color: black;
    margin-bottom: 20px;
    overflow: auto;
}
.aboutme-grid hr{
    border-top: 5px dotted #800080;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background: #DDA0DD;
  }